<section class="appCta">
    <div class="appCta__image-wrapper">
        <img class="appCta__image" src="assets/images/img-cta-phone.png" width="600" height="600" loading="lazy" alt="">
    </div>
    <div class="appCta__content">
        <div class="appCta__badge">
            <app-badge text="Деньги у вас через 10 минут"></app-badge>
        </div>
        <h1 class="appCta__title">
            <strong>Скачайте</strong> мобильное приложение
        </h1>
        <div class="appCta__description">
            Установите наше приложение и получите деньги за <strong>пару кликов</strong>
        </div>
        <div class="appCta__apps">
            <app-apps></app-apps>
        </div>
    </div>
</section>