.appCta {
    padding-top: 45px;
    display: grid;
    grid-template-columns: 600px 1fr;
  
    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }
  
    @media screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  
    @media screen and (max-width: 767px) {
      padding-top: 30px;
    }
  
    &__content {
      padding-top: 30px;
      align-self: center;
  
      @media screen and (max-width: 767px) {
        padding: 0;
      }
    }
  
    &__badge {
      margin-bottom: 16px;
    }
  
    &__title {
      margin-bottom: 16px;
    }
  
    &__description {
      font-size: 17px;
      font-weight: 500;
      line-height: 28px;
      max-width: 450px;
    }
  
    &__apps {
      margin-top: 40px;
      justify-content: flex-start;
  
      img {
        @media screen and (min-width: 1201px) {
          width: auto;
          height: 48px;
        }
      }
    }
  
    &__image-wrapper {
      @media screen and (max-width: 1023px) {
        order: 2;
      }
    }
  
    &__image {
      margin: 0 auto;
    }
  }