.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    flex: 1 0 auto;
  }
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 40px;

  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }
}