:root {
  --color-main: #2F62F6;
  --color-main-hover: #ff6b00;
  --color-main-active: #ff6b00;

  --color-text: rgba(#191C30, 0.9);

  --color-bg: #F4F5F6;

  --font-main: "Manrope", sans-serif;

  --header-height: 64px;
}
