<div>
  <app-apps-notifications></app-apps-notifications>
  <header class="header">
    <div class="container">
      <div class="header__wrapper">
        <a href="index.html" class="logo">
          <img src="assets/images/logo-white.svg" alt="">
        </a>
        <div class="header__buttons">
          <a href="#" class="back button button--size-m button--link-white">Назад</a>
          <a href="#" class="header__login button button--size-m button--white">
            <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
              <path fill-rule='evenodd' clip-rule='evenodd' d='M14 3C14 2.44772 14.4477 2 15 2H19C19.7957 2 20.5587 2.31607 21.1213 2.87868C21.6839 3.44129 22 4.20435 22 5V19C22 19.7957 21.6839 20.5587 21.1213 21.1213C20.5587 21.6839 19.7957 22 19 22H15C14.4477 22 14 21.5523 14 21C14 20.4477 14.4477 20 15 20H19C19.2652 20 19.5196 19.8946 19.7071 19.7071C19.8946 19.5196 20 19.2652 20 19V5C20 4.73478 19.8946 4.48043 19.7071 4.29289C19.5196 4.10536 19.2652 4 19 4H15C14.4477 4 14 3.55228 14 3ZM9.29289 6.29289C9.68342 5.90237 10.3166 5.90237 10.7071 6.29289L15.7071 11.2929C16.0976 11.6834 16.0976 12.3166 15.7071 12.7071L10.7071 17.7071C10.3166 18.0976 9.68342 18.0976 9.29289 17.7071C8.90237 17.3166 8.90237 16.6834 9.29289 16.2929L12.5858 13H3C2.44772 13 2 12.5523 2 12C2 11.4477 2.44772 11 3 11H12.5858L9.29289 7.70711C8.90237 7.31658 8.90237 6.68342 9.29289 6.29289Z' fill='currentColor'></path>
            </svg>
            Войти
          </a>
        </div>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
  <footer class="footer">
    <div class="container">
      <div class="footer__logo">
        <img src="assets/images/logo.svg" width="162" height="34" alt="Ezaem">
      </div>
      <div class="footer__top">
        <div class="info">
          <div class="footer__info-item">
            <img src="assets/images/ico-location.svg" width="16" height="16" alt="">
            | Йошкар-Ола, б-р Чавайна 12А
          </div>
          <div class="footer__info-item">
            <img src="assets/images/ico-mail.svg" width="16" height="16" alt="">
            <a class="footer__menu-link" href="mailto:info@zaem.ru">info&#64;zaem.ru</a>
          </div>
          <div class="footer__info-item">
            <img src="assets/images/ico-phone.svg" width="16" height="16" alt="">
            <a class="footer__menu-link" href="tel:8-800-250-898">8-800-250-898</a>
          </div>
        </div>
        <ul class="footer__menu">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">О компании</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Контакты</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Органы управления</a>
          </li>
        </ul>
        <ul class="footer__menu">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Документы</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Политика конфиденциальности</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Раскрытие информации</a>
          </li>
        </ul>
        <ul class="footer__menu">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Партнерская программа</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">СРА-сетям, вебмастерам, Арбитражникам</a>
          </li>
        </ul>
      </div>
      <div class="footer__text-row">
        <div class="footer__text-col">
          <p>ООО МФК «ЭкспрессДеньги» является членом СРО «МиР» с 29 декабря 2021 года</p>
          <p><a href="https://npmir.ru">https://npmir.ru</a></p>
          <p>107078, г. Москва, Орликов переулок, д.5, стр.1, этаж 2, пом.11</p>
          <p>ООО МФК «ЭкспрессДеньги» являлось членом СРО «Единство» Дата прекращения членства 14 декабря 2021 года</p>
        </div>
        <div class="footer__text-col">
          <p>Потребитель финансовых услуг вправе направить обращение в Службу финансового уполномоченного</p>
          <p><a href="https://finombudsman.ru">https://finombudsman.ru</a></p>
          <p>119017, г. Москва, Старомонетный пер., дом 3 8 (800) 250-89-80 понедельник - пятница с 08:00 до 20:00 (МСК), кроме нерабочих праздничных дней Реестр микрофинансовых организаций</p>
        </div>
        <div class="footer__text-col">
          <p>Банк России</p>
          <p><a href="https://cbr.ru">https://cbr.ru</a></p>
          <p>Интернет-приемная Банка России Документы</p>
          <p><a href="https://cbr.ru/Reception">https://cbr.ru/Reception</a></p>
          <p>Реестр микрофинансовых организаций</p>
          <p><a href="https://cbr.ru/microfinance/registry">https://cbr.ru/microfinance/registry</a></p>
        </div>
      </div>
      <div class="footer__text-row">
        <div class="footer__text-col">
          <p>«Заём.ру» является торговой маркой ООО МФК «ЭкспрессДеньги»</p>
        </div>
        <div class="footer__text-col">
          <p>Общество с ограниченной ответственностью микрофинансовая компания "ЭкспрессДеньги" (ОГРН 1101215004593, ИНН 1215150103), адрес места нахождения: 424000, Республика Марий Эл, г. Йошкар-Ола, бульвар Чавайна, д. 12, корпус А, регистрационный номер записи в государственном реестре микрофинансовых организаций за номером 2120512002049. Дата внесения в реестр 06 сентября 2012 года.</p>
        </div>
      </div>
      <div class="footer__app-links">
        <app-apps></app-apps>
      </div>
      <div class="footer__bottom">
        <div class="copyright">
          © 2011–2024, ООО МФК «ЭкспрессДеньги». Все права защищены.
        </div>
        <div class="creator">
          Website design by <a href="https://lepshey.com">Lepshey</a>
        </div>
      </div>
    </div>
  </footer>
</div>